
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 90px;
    padding-left: 90px;
}


.home-icon,
.explore-icon,
.subscriptions-icon,
.originals-icon,
.youtube-music-icon,
.library-icon,
.upload-icon,
.notification-icon,
.search-icon {
    width: 28px;
    cursor: pointer;
}


.sidebar {
    width: 100px;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .3s ease;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.btn-sidebar-link{
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    cursor: pointer;
    gap: 8px;
}

.btn-sidebar-link:hover{
    background-color: #ccc;
}


.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 38px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-button {
    margin-right: 24px;
    background: transparent;
    border: none;
    padding: 8px 10px;
    border-radius: 50%;
}

.menu-button:hover{
    background-color: #F0F0F0;
}

.bars-icon {
    width: 24px;
    cursor: pointer;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.middle-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 16px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 600px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin-left: 40px;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.search-button:focus-within {
    border: 1px solid #065fd4;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.search-input {
    flex: 1;
    height: 100%;
    border: none;
    padding-left: 16px;
    outline: none;
}

.search-input::placeholder {
    font-size: 16px;
}

.search-button {
    width: 64px;
    height: 100%;
    border: none;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.upload-container:hover,
.mic-button:hover,
.search-button:hover
{
    background-color: #ccc;
}

.mic-button {
    background-color: #F0F0F0;
    padding: 10px 14px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
}

.mic-button:hover .tooltip{
    opacity: 1;
}

.mic-icon {
    width: 18px;
    cursor: pointer;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #F0F0F0;
}

.upload-icon {
    margin-right: 5px;
}

.icon-container {
    position: relative;
    margin: 0 16px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 50%;
}

.icon-container:hover {
    background-color: #F0F0F0;
}

.notification-count {
    width: 18px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4px;
    right: 4px;
    border: 2px solid white;
}

.mic-button .tooltip,
.icon-container .tooltip{
    position: absolute;
    opacity: 0;
    background-color: #4E4E4EC3;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 2px;
    top: 55px;
    left: -30px;
    pointer-events: none;
}

.icon-container:hover .tooltip {
    opacity: 1;
}

.profile-icon {
    border-radius: 50%;
    object-fit: cover;
    width: 38px;
    cursor: pointer;
}

.video-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 16px;
    row-gap: 40px;
    padding: 36px;
    transition: transform .3s ease;
}

.video-grid.full-width{
    margin-left: 0;
}

.video-preview {
    cursor: pointer;
}

.thumbnail-container {
    position: relative;
    margin-bottom: 12px;
}

.thumbnail {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 12px;
}

.video-time {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: 12px;
}

.profile-picture {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.video-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.video-author, .video-stats {
    font-size: 14px;
    color: #606060;
}

.video-author {
    margin-bottom: 2px
}